.nav {
  position: fixed;
  width: 100%;
  z-index: 1;

  &-Header {
    border-bottom: 1px solid;
    display: flex;
    height: 3.5rem;
    margin: 0;
    padding: 0 1em;
  }

  &-Brand {
    display: flex;
    flex-direction: column;
    font-size: 2.125rem;
    font-weight: 500;
    justify-content: center;
    margin: 0 auto 0 0;
    text-transform: uppercase;
  }
}